# The whitelist is inclusive, and matches anything after the path.
# An update task will have to be run after changes to the whitelist.
# Some examples..
/home/site_user/public_html/logs/all_files_in_directory/ # Anything in this directory or subdirectories will be whitelisted.
/home/site_user/public_html/cache/cache-file # Anything file below the cache directory that starts cache-file, e.g cache-file1 will be whitelisted.
